<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<style>
    #block-courses-valide .courses-valide{
        background-image: url("https://images.unsplash.com/photo-1526367790999-0150786686a2?ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80");
        background-size: cover;
        height: 600px;

    }

    body{
        margin-left: -15px;
        margin-right: -15px;
        overflow-x: hidden;
        font-family: 'Permanent Marker', sans-serif;

    }
    h1 {
        color: #e74c3c;
        font-size: 100px;

    }


</style>


    <div class="container-fluid" id="block-courses-valide">
        <div class="row mb-5 courses-valide d-flex align-items-center">
            <div class="col-12 text-center">
                <h1>Course validée !</h1>
                <h1>Merci !</h1>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <p>Votre course à bien étée acceptée ! la livraison est prevue le  <strong>{{ course.dateLivraison|localizeddate('none', 'none', null, null, 'd MMMM Y')}}, à {{course.Ville.nom }}</strong></p>
                <p>Contactez-le a l'adresse email suivante : <strong><a href="">{{ app.user.email }}</a></strong></p>
            </div>
        </div>
    </div>


