{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <div class="container" id="block-login">
        <div class="row">

        </div>
    </div>
    {{ include('@FOSUser/Security/login_content.html.twig') }}
{% endblock fos_user_content %}
